__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

.venv/
venv/
env/

build/
dist/
*.spec

.idea/

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.DS_Store
Thumbs.db
